.navigation__user-name {
  display: flex;
  justify-content: flex-end;
  align-self: center;
  flex-grow: 1;
  font-size: 24px;
  font-weight: 500;

  .navigation__user-picture {
    width: 27px;
    height: 27px;
  }
}